.App {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}

.name {
  padding: 30px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  width: 20px;
}

.name>input {
  width: 200px;
  padding: 5px;
}

.inputs {
  padding: 30px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.submit {
  width: 90px;
  padding: 10px;
}

.apple,
.num {
  width: 200px;
  padding: 5px;
}